@import '../../node_modules/reset-css/_reset.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Roboto+Mono');
@import './fonts.scss';

/* PALETTE */

$colorPrimary: #ffcd33;
$colorPrimaryDark: #e8aa23;
$colorText: #333;

/* MAIN STYLES */

html,
body {
  font-family: 'Roboto Mono', sans-serif;
  color: $colorText;
}

body {
  min-height: 520px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

:focus {
  outline: none;
}

.flex-space {
  flex: 1;
}

$modalOverlayTransition: 0.3s;
$modalContentTransition: 0.3s;
.ReactModalPortal {
  .ReactModal__Overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(#000, 0.0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color ease-in-out $modalOverlayTransition;
    &.ReactModal__Overlay--after-open {
      background-color: rgba(#000, 0.7);
    }
    &.ReactModal__Overlay--before-close {
      background-color: rgba(#000, 0);
    }
    .ReactModal__Content {
      position: relative;
      background-color: #fff;
      border: 1px solid #f0f0f0;
      border-radius: 4px;
      transform: translate3d(0, 100vh, 0);
      transition: transform ease-in-out $modalContentTransition;
      box-shadow: 0 1px 4px rgba(#000, 0.4);
      &.ReactModal__Content--after-open {
        transform: translate3d(0, 0, 0);
      }
      &.ReactModal__Content--before-close {
        transform: translate3d(0, 100vh, 0);
      }
    }
  }
}

.button {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  outline: none;
  background-color: #ffffff;
  transition: all ease 0.3s;
  font-family: 'Roboto Mono';
  &:not(:disabled) {
    cursor: pointer;
  }
  &:hover {
    border-color: $colorPrimary;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
  }
  &.button-primary {
    border-color: $colorPrimary;
    background-color: $colorPrimary;
    &:hover {
      border-color: $colorPrimaryDark;
      background-color: $colorPrimaryDark;
    }
  }
}

.form-field {
  input {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 8px;
    font-size: 16px;
  }
}