.CreditCardForm {
  padding: 64px;
  display: flex;
  flex-flow: column;
}

@media (max-width: 680px) {
  .CreditCardForm {
    form {
      margin-top: 16px;
    }
  }
}

@media (min-width: 680px) {
  .CreditCardForm {
    flex-flow: row;
    form {
      margin-left: 16px;
    }
  }
}

@media (max-width: 480px) {
  .CreditCardForm {
    padding: 32px;
  }
}